{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}VAS{% endblock title %}</title>

    <link rel="stylesheet" href="{% static 'front/style.css' %}">
</head>

<body>
    {% include "navbar.html" %}
    {% for msg in messages %}
        <p>{{msg}}</p>
    {% endfor %}
    {% block content %}{% endblock content %}
</body>

</html>