{% extends 'base.html' %}

{% block title %}drivers{% endblock title %}

{% block content %}
    <h1>Driver</h1>
    {% comment %} <code>{{users.0.values}}</code> {% endcomment %}
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>License No</th>
            <th>Address</th>
            <th>Vehicles</th>
            <th>Approval Status</th>
        </tr>
        {% for driver in drivers %}
        <tr>
            <td>{{driver.id}}</td>
            <td><a href="{% url 'driver' %}?pk={{driver.id}}">{{driver.name}}</a></td>
            <td>{{driver.license_no}}</td>
            <td><Address>{{driver.address}}</Address></td>
            <td>
                -&nbsp;
                <a href="{% url 'vehicles' %}?did={{driver.id}}">{{driver.vehicles.count}}</a>&nbsp;
                +
            </td>
            <td>{% if driver.approved %}
                Approved
            {% else %}
                {% if request.user.is_superuser %}
                    <a href="{% url 'approve' %}?type=driver&amp;pk={{driver.id}}">Approve</a>
                {% else %}
                    Pending
                {% endif %}
            {% endif %}</td>
        </tr>
        {% endfor %}
    </table>
    {% if request.user.is_superuser %}
        <a href="{% url 'approve' %}?type=driver">Approve All</a>
    {% endif %}
    
    <a href="{% url 'driver' %}">Add</a>
{% endblock content %}