{% extends 'base.html' %}

{% block title %}owners{% endblock title %}

{% block content %}
    <h1>Own</h1>
    {% comment %} <code>{{users.0.values}}</code> {% endcomment %}
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Email</th>
                <th>Address</th>
                <th>Vehicles</th>
            </tr>
            <tr>
                {% comment %} <th></th>
                <th></th>
                <th></th> {% endcomment %}
                <th>ID</th>
                <th>License No.</th>
                <th>Last Location</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{user.id}}</td>
                <td><a href="{% url 'owner' %}?pk={{user.id}}">{{user.username}}</a></td>
                <td>{{user.email}}</td>
                <td><Address>{{user.address}}</Address></td>
                <td>
                    <a href="{% url 'vehicles' %}?oid={{user.id}}">{{user.vehicle_set.all.count}}</a>&nbsp;
                    <a href="{% url 'vehicle' %}?oid={{user.id}}">+</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}